

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

.container {
    border: dotted 1px red;
    /* test */

    display: flex;
    flex-direction: column;
    gap: 20px;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding: 12px;



}


.square {
    width: 100px;
    height: 100px;

    background-color: #3535ec;

}


h1 {
    color: blue;
}



/* media query che applichi i selettori dai 479px in su */

/* dallo schermo 479px di larghezza in su */
@media screen and (min-width: 479px) {
    .container {
        flex-direction: row;
        gap: 10px;
    }


    .square {
        background-color: #f71668;
    }
}